@charset "utf-8";
/* CSS Document */

.dev_layout {
    min-height: 600px;
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    -ms-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.dev_content {
    padding: 20px;
    overflow: hidden;
}

.dev_left_side {
    width: 590px;
    line-height: 160%;
    position: relative;
}

.dev_right_side {
    background-color: #F0F0F0;
    width: 250px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    min-height: 560px;
    z-index: 1000;
}

.dev_right_content {
    padding: 10px;
}

.dev_menu_element_link {
    font-family: "Roboto Regular", Arial, sans-serif;
    padding: 7px 10px;
    display: block;
    font-size: 15px;
    text-decoration: none;
    color: #4F6173;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    position: relative;
}

.dev_menu_element_link:hover {
    background-color: rgba(199, 199, 199, 0.20);
}

.dev_header_element {
    font-weight: bold;
}

.dev_sub_element {
    padding-left: 25px;
}

.dev_select {
    background-color: #FF676A;
    color: #fff;
}

.dev_select:hover {
    background-color: #FF676A;
    color: #fff;
}

.dev_left_content {
    word-wrap: break-word;
}

.dev_title, .dev_title_sub {
    border-bottom: 1px solid #4F6173;
    padding-bottom: 9px;
    position: relative;
}

.dev_title {
    font-size: 20px;
}

.dev_title_sub {
    font-size: 18px;
    font-weight: bold;
    font-family: "Roboto Regular", Arial, sans-serif;
}

.dev_anchor {
    width: 27px;
    height: 27px;
    display: inline-block;
    position: absolute;
    top: 1px;
    margin-left: 7px;
    background: url('/st/img/btn_icons.png') no-repeat -45px 5px;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.dev_anchor:hover {
    background-color: rgba(100, 100, 100, 0.1);
}

.dev_name_anchor {
    position: absolute;
    top: -65px;
}

.dev_li {
    list-style: square;
    color: #FF676A;
    margin-left: 25px;
    margin-bottom: 10px;
}

.dev_li > * {
    color: #4F6173;
}

.dev_reset_color {
    color: #4F6173;
}

a.dev_link {
    color: #4F6173;
    font-weight: bold;
}

a.dev_link:active {
    color: #FF676A;
}

a.dev_link_ext {
    color: #4F6173;
    text-decoration: none;
    border-bottom: 1px dashed #4F6173;
}

a.dev_link_ext:hover {
    border-bottom: 1px solid #4F6173;
}

a.dev_link_ext:active {
    color: #FF676A;
    border-bottom: 1px solid #FF676A;
}

.dev_p {
    margin: 19px 10px 19px;
}

.dev_blockquote {
    margin: 24px 10px 24px;
    font-size: 15px;
    background-color: #F3F3F3;
    border: 2px solid #DBDBDB;
    border-left-width: 15px;
    padding: 10px 10px 10px 25px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

.dev_menu_spin {
    position: absolute;
    right: 17px;
    top: 17px;
}

.dev_layer {
    display: none;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    background-color: #fff;
    position: absolute;
    z-index: 10000;
}

.dev_type_description {
    color: #aaa;
    font-size: 14px;
}

.json_key {
    color: #00F;
}

.json_value {
    color: #198D3D;
    overflow: hidden;
}